<h3>Get weather</h3>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="clear(); showCurrentWeather()">GET CURRENT</button>
    <button type="button" class="btn btn-default" (click)="clear(); showForecastWeather()">GET FORECAST</button>
    <button type="button" class="btn btn-default" (click)="clear()">CLEAR</button>
</div>

<div *ngIf="currentWeatherData">
    <h3>Weather</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Humidity</th>
                <th scope="col">Precipitations</th>
                <th scope="col">UV index</th>
                <th scope="col">Wind</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{currentWeatherData.current.humidity}}</td>
                <td>{{currentWeatherData.current.precip_mm}} mm</td>
                <td>{{currentWeatherData.current.uv}}</td>
                <td>{{currentWeatherData.current.wind_kph}} km/h</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="forecastWeatherData">
    <h3>Forecast</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Avg humidity</th>
                <th scope="col">Total precipitations</th>
                <th scope="col">UV index</th>
                <th scope="col">Max wind</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{forecastWeatherData.forecast.forecastday[0].day.avghumidity}}</td>
                <td>{{forecastWeatherData.forecast.forecastday[0].day.totalprecip_mm}} mm</td>
                <td>{{forecastWeatherData.forecast.forecastday[0].day.uv}}</td>
                <td>{{forecastWeatherData.forecast.forecastday[0].day.maxwind_kph}} km/h</td>
            </tr>
        </tbody>
    </table>
</div>

<span>
    <p *ngIf="error">Error: {{error}}</p>
</span>